.container-game {
  display: flex;
}

@media (max-width: 920px) {
  .container-game {
    display: block;
  }

  .Left-column {
    width: 100%;
  }

  .Left-column img,
  .images img {
    width: 100%;
  }
}

@media (max-width: 1180px) {
  .images {
    flex-direction: column;
  }
}

.Left-column,
.right-column {
  margin: 15px;
}

.Left-column {
  white-space: pre-line;
  line-height: 1.6;
}

.Left-column img,
.images img {
  box-shadow: 3px 5px 8px 1px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

.Left-column button {
  width: 100%;
  margin: 0;
}

.right-column h1 {
  text-align: center;
}

.right-column p {
  white-space: pre-line;
  line-height: 1;
  padding-right: 10px;
}

.images {
  display: flex;
}

.images img {
  width: 31%;
  border-radius: 4px;
  margin: 14px;
  box-shadow: 3px 5px 8px 1px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0 rgba(0, 0, 0, 0.19);
}
