
.carts {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px;
  align-items: center;
  box-shadow: 3px 5px 8px 1px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 700px) {
  .carts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


.carts img {
  width: 75%;
  padding: 1px 0px 0px 0px;
  border-radius: 5px;
}

.carts button {
  background-color: rgb(235, 44, 44);
  color: black;
  border: 1px solid #f7f7f7;
}

.price {
  font-weight: bolder;
  text-align: center;
}

.empty {
  position: absolute;
  padding-top: 200px;
  width: 80%;
  text-align: center;
}

