.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.wrapper .carousel {
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.carousel img {
  max-height: 500px;
  max-width: 500px;
  border-radius: 10px;
}

.carousel img:first-child {
  margin-left: 0;
}

.firs-image {
  z-index: 1;
  opacity: 25%;
}

.second-image {
  border-radius: 10px;
  z-index: 2;
  height: 340px;
  width: 340px;
  box-shadow: -2px 6px 20px 10px rgba(15, 15, 15, 0.5);
}

.three-image {
  z-index: 1;
  opacity: 25%;
}
