.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-left: 35px;
}

@media (max-width: 768px) {
  .container{
    grid-template-columns: repeat(1, 1fr);
  }
  /* Estilos para dispositivos móviles o pantallas pequeñas */
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
  /* Estilos para tablets */
}

@media (min-width: 1025px) {
   .container{
    grid-template-columns: repeat(3, 1fr);
  }
  /* Estilos para pantallas de escritorio */
}

@media (min-width: 1640px) {
   .container{
    grid-template-columns: repeat(4, 1fr);
  }
  /* Estilos para pantallas de escritorio */
}

.clothing {
  border-radius: 3px;
  align-items: center;
  margin: 15px;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.clothing img {
  width: 100%;
  border-radius: 3px;
}

.clothing:hover {
  box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  cursor: pointer;
}

.clothing button {
  display: block;
  margin: 20px auto;
  padding: 2% 18%;
}

.clothing p {
  margin: 20px 0px 8px 16px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.clothing strong {
  margin: 20px 0px 8px 16px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
