.list-items {
  width: 45%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
  flex-direction: column;
}

.App button {
  background: white;
  font-size: 46px;
  transform: rotate(0);
  transition: 0.3s ease;
}

.App button:hover {
  transform: rotate(224deg);
}
